<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How It Works</title>
    <link rel="stylesheet" href="../css/how-it-works.css" />

  </head>
  <body>
    <div class="container">
      <div class="nav"><h1>nav</h1></div>
      <div class="Focus-on-Business"><h1>FoB</h1></div>
      <div class="Content2">
        <h2 class="how__header">How It Works</h2>
        <h4 class="how__desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a
        </h4>
        <div class="how__card" data-inViewport="scaleIn">
          <div class="how__card-left">
            <img src="../images/how-it-works/Collect-info@2x.png" alt="" />
          </div>
          <div class="how__card-right">
            <div class="how__card-header">Collect Useful Info</div>
            <div class="how__card-text">
              Deliver the world of payment options and seamless checkout
              experiences, making it easy for your customer to pay you for your
              products and services.
            </div>
          </div>
        </div>
      </div>
      <div class="Content1"></div>

      <!-- begin Craig's footer -->
      
      <div class="footer">
        <h1>Try Double Tap Today!</h1>
        <p style="font-weight:bold">Let's Get Started</p>

        <div class="container-footer">

          <div style="padding-right: 30px">
              <button class="btn" class="container-footer-buttons" style="width:140px;height: 38px;color:white;font-size: 15px;font-weight: bold;padding-bottom:6px;   background-color: rgba(127,209,38,255);border-radius: 7px;"></i> Get Started &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/landing/white-double-arrow-use-this-one.png" style="height:9px;">
              </button>
          </div>


          
          
          <div style="padding-left:0px;padding-right:0px;width:140px; height:26px; color: #0850F8; background-color: white; border-radius: 7px;padding-bottom:12px" >
            
            <img src="../images/landing/talk-bubble.png" alt="chat bubble" style="display:inline-block; height:20px; ">
            
            <p style="display:inline-block; text-align: center;font-size:13px;font-weight:bold;" >Chat With Us</p>
          </div>
           

        
        </div>
        
       

        <div class="container-footer-menu">
          <p class="container-footer-menu-item">Free 14 day trial</p>
          <img src="../images/landing/White_dot.svg.png" alt="dot" style="height:5px;width:5px; padding-top:29px" class="container-footer-menu-item">
          <p class="container-footer-menu-item">Manage Customers in Minutes</p>
          <img src="../images/landing/White_dot.svg.png" alt="dot" style="height:5px;width:5px; padding-top:29px" class="container-footer-menu-item">            <p class="container-footer-menu-item">Cancel at Anytime</p>


        </div>
        
      </div>
      
      <!-- End craig's footer -->

      <div class="content3">
        <h4 class="how__desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a
        </h4>
        <div class="how__card" data-inViewport="scaleIn">
          <div class="how__card-left">
            <img src="../images/how-it-works/Take Payments@2x.png" alt="" />
          </div>
          <div class="how__card-right">
            <div class="how__card-header">Get Paid Sooner</div>
            <div class="how__card-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/main.js"></script>
  </body>
</html>
